div.panel-head
    h3 Мои упражнения
table
    tr
        th Упражнение
        th Описание
        th Ссылка на видео инструкцию
        th Изменяемый параметр тренировки
    each exercise in exercises
        tr.exercise-info__item-container
            td.exercise-info__name=exercise.name
            td.exercise-info__description=exercise.description
            td.exercise-info__video-tutorial-link
                a(href=exercise.videoTutorialLink)=exercise.videoTutorialLink
            td.exercise-info__variable-parameter-name=exercise.variableParameterName